#map{
    width: 100vw;
    height: 100vh;
    position:relative;
}
#basemap{
    position: relative;
}

#layerchanger{
    position:absolute;
    align-items: center;
    top: 23vh;
    right: 10px;
}
.layers{
    position: absolute;
    border-radius: 50px;
    width: 60px;
    height: 60px;
    background-color: var(--c1);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    box-shadow: 2px 2px 10px 2px rgba(26, 26, 26, 0.221);
    top: 80px;
    right: 10px;
    margin: 0px;
    transition: all ease 0.4s;
    font-size: 15px;
    color: var(--c5);
    padding: 0px;
}
#pinpoint{
    position:absolute;
    border-radius: 50px;
    width: 60px;
    height: 60px;
    top: 20vh;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--c1);
    border: none;
    box-shadow: 2px 2px 10px 2px rgba(26, 26, 26, 0.409);
}

#search{
    position: relative;
    display: flex;
    height: 50px;
    background-color: var(--c1);
    box-shadow: 2px 2px 20px 2px rgba(0, 0, 0, 0.377);
    padding: 10px;
    justify-content: space-between;
    margin: 20px;
    width: fit-content;
    border-radius: 50px;
}

#searchcontainer{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0px;
    left: 0px;
    width:100vw;
    padding: 0px;
}

#search input{
    flex: 1;
    width: 100%;   
    padding: 0px; 
    border: none;
    background-color: inherit;
    font-size: 20px;
}

#morebutton{
    padding: 0px;
    height: 100%;
    background-color: transparent;
    position: relative;
    border: none;
    display: flex;
    justify-content: center;
}
#searchbutton{
    padding: 0px;
    height: 100%;
    background-color: transparent;
    position: relative;
    border: none;
    display: flex;
    justify-content: center;
}

#blurlayer{
    position: absolute;
    /* background-color: yellow; */
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(3px);
    transition:all ease 0.3s;
}

#menu{
    width:200px;
    height: 100%;
    background-color: var(--c3);
    border-radius: 40px;
    padding: 30px;
    width: fit-content;
    box-shadow:2px 2px 10px 2px var(--c4) ;
    color: white;
    display: flex;
    flex-direction: column;
}
#menu img{
    background-color: var(--c1);
    margin: 10px;
    padding: 20px;
    border-radius: 100px;
}
#menucontianer{
    position: absolute;
    top: 0px;
    /* left: -300px; */
    padding: 10px;
    height:100vh;
    transition:all 0.5s ease;
}

#spotlight{
    position:absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--c1);
    box-shadow: 2px 2px 15px 1px rgba(0, 0, 0, 0.685);
    padding: 15px;
    border-radius: 30px;
    width: 90vw;
    margin: none;
    height: 90vh;
}
#spotlight button{
    font-size: 15px;
    border: none;
}
#pull{
    width: 120px;
    height: 10px;
    padding: 0px;
    margin: 0px;
    background-color: grey;
    border: none;
}

.menubuttons{
    border: none;
    background-color: transparent;
    font-size: 25px;
}
.menubuttons:hover{
    color: rgb(142, 207, 242);
}

.addeventlocation{
    position:absolute;
    top:30%;
    left: 0%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.addeventlocation input{
    border: none;
    border-radius: 4px;
    margin: 2px;
}

.addeventlocation .container{
    background-color: var(--c2);
    box-shadow: 2px 2px 10px 2px rgb(95, 95, 95);
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#locationAddbutton{
    font-size: 10px;
    border: none;
}
#eventAddbutton{
    font-size: 10px;
    border: none;
}

#searchResult{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 20px 0px 20px;
    gap: 1px;
    background-color: transparent;
    height: 200px;
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

#searchResult::-webkit-scrollbar {
    display: none;               /* Chrome, Safari */
}

.searchfield{
    background-color: var(--c1);
    width: 100%;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
}